.flipped {
  transform: rotateY(180deg);
}
.card {
  display: flex;

  align-items: center;
  border: 2px solid black;
  box-shadow: 2px 4px 4px 4px #044f67;
  border-radius: 5px;
  transition: all 1s ease;
  background-color: aqua;
}

.card-img {
  height: 100%;
  width: 100%;
}
