.flipped {
  transform: rotateY(180deg);
  background: url("../images/back-card.svg"); 
  background-color:var(--screen-background-color);
}
.card.flipped > img {
  opacity: 0;
  
}
.card {
  display: flex;
  justify-self: center;
  border: 5px solid  #950740;
  box-shadow: 1px 2px 2px 2px #6F2232;
  border-radius: 5px;
  transition: all .3s linear;
  background-color: aqua;
  max-width: calc(100vh / 5.5);
  max-height: calc(100vh / 5);


}
@media (max-height: 668px) and (orientation: landscape) {
  .card{
    max-width: calc(100vh / 6);
    max-height: calc(100vh / 6);
  }
}

.isDone{
  opacity: .5;
  filter: grayscale(90%);
  border: 5px solid   #950740;
}


.card-img {
  height: 100%;
  width: 100%;
}
