.difficulty-button {
  font-size: 1.02em;
  background-color: gray;
  border: 5px solid black;
  align-self: center;
  width: 50vw;
  min-height: 10vh;
  border-radius: 5px;
  box-shadow: 2px 4px 4px 4px #044f67;
  transition: all 0.2s ease;
}
.difficulty-button:hover {
  background-color: pink;
  font-size: 1.07em;
}
.difficulty-button:active {
  background-color: rgb(241, 143, 159);
}

.choice-container {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  min-width: 100vw;
  height: 50vh;
  flex-direction: column;
}
