:root{
  --main-background: rgb(21, 21, 24);
  --screen-background-color: rgb(41, 41, 46);

  --button-color:#4E4E50;
  --button-border-color: #6F2232;
  --button-hover-color: pink;
  --button-active-color: rgb(241, 143, 159);
}

body {
  background-color:var(--main-background,rgb(21, 21, 24));
}
button{
  background-color: var( --button-color,#4E4E50);
  border: 5px solid var(--button-border-colo,#6F2232);
  border-radius: 5px;
  display: flex;
  color: white;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.2s ease;

}

button:hover {
  background-color: var(--button-hover-color,pink);
  font-size: 1.1em;
}

button:active {
  background-color: var(--button-active-color,rgb(241, 143, 159));
  font-size: 1.1em;
}
